<h1>Listing Index</h1>

<% if current_user %>
  <h3>Logged in as <%= current_user.name %></h3>
  <% if user_or_farmer == "farmer"%>
    <a href="<%= farmer_path(current_user) %>">View Account</a>
  <% end %>
  <% if user_or_farmer == "user"%>
    <a href="<%= user_path(current_user) %>">View Account</a>
  <% end %>

  <a href="<%= logout_path %>">Log out</a>
<% else %>
  <a href="<%= login_path %>">Login</a>
  <a href="<%= signup_path %>">Signup</a>
<% end %>

<div>
<p>Filter List</p>
<%= form_with(url: listings_path, method: 'get', local: true) do %>
  <%= select_tag(:distance, options_for_select([['5 miles', 5],['10 miles', 10],['15 miles', 15],['20 miles', 20],['30 miles', 30],['40 miles', 40],['50 miles', 50]], params[:distance].to_i), prompt: "Select distance") %>
  <%= select_tag(:category_id, options_from_collection_for_select(Category.all, :id, :name, params[:category_id].to_i), prompt: "Select Category") %>
  <%= submit_tag(value = "Filter")%>
<% end %>
<%= button_to "Refresh", listings_path, method: :get %>
</div>

<% @farmer_count = 1 %>
<% @current_farmer = @listings.first.farmer %>

<% @listings.each do |listing| %>


  <div class="farm_listing">
    <h3><b><%= farmer_number(listing) %>)</b> <%= listing.title %></h3>
    <% if listing.price == 0 %>
      <h4>FREE</h4>
    <% else %>
      <h4><%="£#{listing.price} per #{listing.measurement}"%></h4>
    <% end %>

    <% if listing.organic_check %>
      <h4>Organic</h4>
    <% end %>
    
    <%= link_to "View Listing", listing_path(listing) %>
    <%= link_to "Edit", edit_farmer_listing_path(current_user, listing) if current_user == @farmer %>
  </div>

<% end %>

<br>
<br>

<% if @listings.count > 0 %>
<img src=<%="https://maps.googleapis.com/maps/api/staticmap?center=#{current_user.latitude},#{current_user.longitude}&scale=2&size=600x300&maptype=roadmap&key=#{Rails.application.credentials.google_api}&format=png&visual_refresh=true#{map_marker_maker(current_user, @listings)}"%> alt=<%="Google Map of listing locations"%>>

<% end %>
