<h1>View Listing</h1>

<h2><%= @listing.title %></h2>

<h2><%= @listing.category.name %></h2>

<h4><%="£#{@listing.price} per #{@listing.measurement}"%></h4>

<h4><%= @listing.organic_check ? "This produce has organic certification" : "This produce does not have organic certification, but still tasty!"%></h4>

<%= link_to "Go to farmer", farmer_path(@listing.farmer) %>

<%= link_to "Edit", edit_farmer_listing_path(@listing.farmer, @listing) if current_user == @listing.farmer %>
<%= button_to "Delete", farmer_listing_path(@listing.farmer, @listing), method: :delete if current_user == @listing.farmer %>


<% if user_or_farmer == "user" %>
  <div id="purchase_listing_component">
    <h3>Purchase Produce</h3>
    <%= form_with(url: new_user_purchase_path(current_user), method: "get", local: true, scope: :purchase) do |f| %>
      <%= f.number_field :amount, step: 0.5, autofocus: true, placeholder: 'Amount of produce' %><%=@listing.measurement%>
      <%= f.hidden_field :listing_id, :value => @listing.id %>
      <%= f.submit(value = "Order") %>
    <% end %>
  </div>
<% end %>

<br>
<br>

<h3>You are <%= @listing.farmer.distance_to([current_user.latitude, current_user.longitude]).to_i %> miles away</h3>


<h4>Click on map to get directions</h4>
<a href=<%="https://www.google.com/maps/dir/#{@listing.farmer.latitude},#{@listing.farmer.longitude}/"%>><img src=<%="https://maps.googleapis.com/maps/api/staticmap?center=#{@listing.farmer.latitude},#{@listing.farmer.longitude}&path=#{current_user.latitude},#{current_user.longitude}|#{@listing.farmer.latitude},#{@listing.farmer.longitude}&scale=2&size=600x300&maptype=roadmap&key=#{Rails.application.credentials.google_api}&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:%7C#{current_user.latitude},#{current_user.longitude}&markers=size:mid%7Ccolor:0xff0000%7Clabel:1%7C#{@listing.farmer.latitude},#{@listing.farmer.longitude}"%> alt=<%="Google Map of listing location"%>></a><br>


