<%= form_with model: user, local: true, method: "patch" do |f| %>

  <p><%= display_first_error(user, :name) %></p>
  <%= f.text_field :name, autofocus: true, placeholder: 'Name' %><br>

  <p><%= display_first_error(user, :address) %></p>
  <%= f.text_field :address, autofocus: true, placeholder: 'Full Address' %><br>
  
  <br>
  <%= f.submit(value = "Update Profile") %>
<% end %>