<h1>Hi, I am <%= @user.name %></h1>
<h2>Customer</h2>
<h2>Joined in <%=@user.created_at.strftime("%Y")%></h2>

<% if @user.image %>
  <img src="<%= @user.image %>" alt="User profile picture" height="100" width="100" >
<% end %>

<h4>Lives at <%= @user.address %></h4>

<h2>Purchase History</h2>

<% @user.purchases.each do |purchase| %>
  <div id="purchase_preview">
    <h3><%= purchase.listing.title %></h3>
    <h4><%= "£#{purchase.total_cost} for #{purchase.amount}#{purchase.measurement}" %><h4>
    <h4>Date Purchased: <%= purchase.created_at.strftime("%e/%m/%Y") %><h4>
    <%= button_to "Delete", user_purchase_path(@user.id, purchase.id), method: :delete %>
  </div>
<% end %>

<a href=<%="https://www.google.com/maps/place/#{@user.latitude},#{@user.longitude}/"%>><img src=<%="https://maps.googleapis.com/maps/api/staticmap?center=#{@user.latitude},#{@user.longitude}&zoom=10&scale=2&size=600x300&maptype=roadmap&key=#{Rails.application.credentials.google_api}&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:%7C#{@user.latitude},#{@user.longitude}"%> alt=<%="Google Map of #{@user.address}"%>></a><br>

<%= link_to "Edit Account", edit_user_path(@user) %>
<%= link_to "Home", root_path %>
