<%= form_with model: farmer, local: true, method: "patch" do |f| %>

  <p><%= display_first_error(farmer, :name) %></p>
  <%= f.text_field :name, autofocus: true, placeholder: 'Name' %><br>

  <h4>Your Farm</h4>

  <p><%= display_first_error(farmer, :farm_name) %></p>
  <%= f.text_field :farm_name, autofocus: true, placeholder: 'Farm Name' %><br>

  <p><%= display_first_error(farmer, :address) %></p>
  <%= f.text_field :address, autofocus: true, placeholder: 'Farm Full Address' %><br>

  <p><%= display_first_error(farmer, :description) %></p>
  <%= f.text_area :description, size: '60x12', autofocus: true, placeholder: 'Description' %><br>

  <p><%= display_first_error(farmer, :organic_certification) %></p>
  Is your farm have organic certification? <%= f.check_box :organic_certification %><br>

  <br>
  <%= f.submit %>

<% end %>
