<h1>Welcome to Wonky Veg signup</h1>
<h2>Are you customer or a farmer?</h2>

<div>
  <h3>Customer</h3>
  <%= form_with model: @user, local: true do |f| %>
    <%= render partial: 'user_signup_form', locals: {f: f} %>
  <% end %>
</div>

<div>
  <h3>Farmer</h3>
  <%= form_with model: @farmer, local: true do |f| %>
    <%= render partial: 'farmer_signup_form', locals: {f: f} %>
  <% end %>
</div>

<h4>Have an account already?</h4>
<%= link_to "Login", login_path %>